#NBA{
    background-color: blanchedalmond;
    text-align: center;
}

#Gatos{
    background-color: rgb(239, 237, 108);
    text-align: center;
}

#Clima{
    background-color: rgb(94, 132, 151);
    text-align: center;
}